<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="../assets/vue.js"></script>

    <title>Vue 2 - 4.2</title>
    <style>
        .verde {
            color: rgb(19, 85, 19);
        }
    </style>
</head>
<body>
    <div id="app">
        <h3>Entendendo a diretiva V-ON ou @</h3>
        <p>
            
            <ul>
                <li>Neste exemplo será visto como passar parâmetros para métodos</li>
                <li>Passando o <code class="verde"> $event </code> como parâmetro</li>
            </ul>
        </p>
        <input type="text" v-on:keyup="imprimirTexto('Mensagem de parâmetro', $event)" />
        <button type="button" @click="mensagemAlerta('Mensagem personalizada')"> Exibir msg </button>
    </div>
    
    <script>
        let vue_model_1 = new Vue(
            {
                el: '#app', 
                data: {
                },
                methods: {
                    imprimirTexto (msgm = 'teste', event) {
                        console.log(msgm, event.target.value);
                    },
                    mensagemAlerta (msgm) {
                        alert(msgm);
                    }
                }
            }
        );
    </script>
</body>
</html>